img {
    max-height: 350px;
    margin-left: 10%;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

li {
    line-height: 40px;
}



.intro {
    box-sizing: border-box;
    margin-left: 10%;
    max-width: 600px;
}

.ing {
  margin-left: 10%;
  margin-top: 75px;
}

.flex {
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    max-width: 829px;
    margin-left: 10%;
}

.ing1 {
    box-sizing: border-box;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    max-width: 400px;
    margin-right: 6em;
}

.ing2 {
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    max-width: 250px;

}

.main {
    margin-top: 4em;
    margin-left: 10%;
    max-width: 600px;
}
