img {
    max-height: 350px;
    margin-left: 33%;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

li {
    line-height: 40px;
}

p {
    width: 60%;
}

.centered {
    margin-left: 30%;
}

